#page_about {
  margin-top: -100px;
  padding-bottom: 120px;
  .confine {
    max-width: min(1300px, 90%);
    margin: 0 auto;
  }
  @media screen and (max-width: 550px) {
    max-width: 100%;
    overflow: hidden;
  }
  #about_intro {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
      position: relative;
      scale: 1.1;
      z-index: 1;
      img {
        animation: breathe 2s infinite alternate-reverse ease-in-out;
      }
    }
    .intro_panel {
      margin-left: -4em;
      margin-right: 40%;
      background: url("/bg/zigzag.png"),
        linear-gradient(#000000 100%, #00000011 0%);
      padding: 2em;
      padding-right: 4em;
      padding-left: 100px;
      outline: 4px solid #89ffaa;
      min-width: 50%;
      border-radius: 0.55em;
      h2 {
        font-size: 2rem;
        font-weight: normal;
        margin-bottom: 0.5em;
        position: relative;
        img {
          position: absolute;
          width: 35px;
          height: 35px;
          // background: red;
          // bottom: 20%;
        }
      }
      p {
        font-weight: 300;
        font-size: 1.4rem;
        letter-spacing: 1px;
        .name {
          color: #d060ec;
        }
        .gold {
          color: #fff615;
        }
      }
      .smoll {
        font-size: 0.9rem;
        margin: 1em 0;

        font-weight: 500;
        opacity: 0.8;
      }
      position: relative;
      .decor_dialogue {
        position: absolute;
        transform: translateX(100%);
        right: 3px;
        bottom: 14%;
      }
    }

    @media screen and (max-width: 1024px) {
      margin-top: 50px;
      figure {
        display: none;
        img {
          width: 200px;
        }
      }
      .intro_panel {
        padding: 1em;
        padding-left: 5em;
      }
    }
    @media screen and (max-width: 550px) {
      .intro_panel {
        transform: translateX(10%);
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
    @media screen and (max-width: 420px) {
      .intro_panel {
        h2 {
          font-size: 1.4rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
    // max-width: 800px;
  }
  .goops {
    position: relative;
    width: 100%;
    height: 1px;
    .decor_saturn {
      position: absolute;
      right: -10%;
      top: -200px;
      // scale: -1;
      rotate: 50deg;
      z-index: -2;
      filter: hue-rotate(40deg);
    }
    .decor_goop {
      position: absolute;
      z-index: -2;
      top: -100px;
      left: -10%;
      filter: brightness(120%) drop-shadow(0px 0px 4px #89ffaa);

      &.b {
        left: initial;

        top: 180px;
        right: -15%;
        scale: -0.7;
      }
    }
  }
  #about_general {
    position: relative;

    background: url("/bg/pt_scraggle.png"), #243f688a;
    backdrop-filter: blur(6px);
    padding: 2em;
    display: grid;
    grid-template-columns: 1.5fr 1.2fr 400px;
    gap: 2em;
    outline: 4px solid #89ffaa;
    border-radius: 2em;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
    }
    .panel {
      background: linear-gradient(#191e22, #224241);
      outline: 4px solid #89ffaa;
      border-radius: 0.25em;
      box-shadow: 0px 0px 4px 4px black;
      padding: 1em;
      letter-spacing: 1px;
    }

    @media screen and (max-width: 5250px) {
      padding: 1em 0;

      .panel {
        border-radius: 0em !important;
        outline: none;
        filter: none;
        box-shadow: none;
        border-radius: 0;
      }
    }
    .facts {
      border-radius: 0.5em;
      // padding-top: 2em;
      margin-top: 60px;
      .banner {
        margin-top: -70px;
        position: relative;
        object-fit: cover;
        padding: 0;
        &:hover {
          .fact-banner {
            background-position: 10% 50%;
          }
        }
        .fact-banner {
          border-radius: 2em;
          outline: 4px solid #89ffaa;
          background: #191e22;
          width: 100%;
          background-position: 50% 20%;
          height: 100%;

          max-height: 150px;
          object-fit: cover;
        }
        .decor_star {
          width: 30px;
          height: 30px;
          position: absolute;
          filter: drop-shadow(0px 0px 4px #ffeb8a);
          animation: speen 25s infinite;
          &.l {
            left: -15px;
            bottom: 30%;
          }
          &.r {
            animation-delay: 1s;
            right: -15px;
            bottom: 30%;
          }
        }
      }
      .facts-h {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        padding: 1em 0;
        h3 {
          white-space: nowrap;
          font-size: 2rem;
        }
        .decor_star {
          width: 20px;
          height: 20px;
          filter: drop-shadow(0px 0px 4px #ffeb8a);
        }
        hr {
          width: 100%;
          height: 5px;
          background: #89ffaa;
        }
      }
      .facts-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;
        @media screen and (max-width: 420px) {
          display: flex;
          flex-direction: column;
        }
        .item {
          background: linear-gradient(to right, #98f297, #43cdba, #f69ee6);
          border-radius: 0.25em;
          color: #1d2b35;
          box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.192);
          padding: 0.5em;
          transition: all 250ms cubic-bezier(0.22, 1, 0.36, 1);
          &:hover {
            scale: 1.05;
          }
          h4 {
            font-weight: lighter;
            font-size: 0.9rem;
          }
          p {
            font-weight: bold;
            font-size: 1.3rem;
          }

          &.p {
            padding-right: 20%;
            position: relative;
            .decor_p {
              position: absolute;
              right: 5%;
              top: -30%;
              scale: 1.1;
              height: 150%;
            }
          }
        }
      }
      .facts-ref {
        display: flex;
        .btn-primary {
          width: 100%;
          margin: 1em 0;
          margin-bottom: 0.3em;
          font-size: 1.5rem;
          text-align: center;
          display: flex;
          // align-items: center;
          border-top-width: 6px;
          border-bottom-width: 6px;
          justify-content: center;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      position: initial;
    }
    .self-intro {
      padding: 3em;
      border-radius: 2em;
      line-height: 1.4;
      font-size: 0.9rem;
      z-index: 2;
      p {
        font-weight: 300;
        padding-bottom: 1em;
        strong {
          opacity: 1;
        }
      }
      position: relative;
      .decor_star {
        filter: drop-shadow(0px 0px 4px #ffeb8a);
      }
      .decor_chibi {
        position: absolute;
        right: -25%;
        bottom: 2%;
        max-height: 200px;
        animation: chibipi 1000ms infinite alternate-reverse
          cubic-bezier(0.23, 1, 0.32, 1);
        @keyframes chibipi {
          from {
            scale: -1 1;
            transform: translateY(-10%);
          }
          to {
            scale: 1 1;
          }
        }
      }
    }
    .giant-art {
      position: relative;
      @media screen and (max-width: 1024px) {
        z-index: -100;
        top: -550px;
        right: -150px;
      }
      @media screen and (max-width: 550px) {
        scale: 0.78;
        transform: translateY(-50px);
      }

      @media screen and (max-width: 420px) {
        scale: 0.58;
        transform: translateY(-500px) translateX(50px);
      }
      @media screen and (max-width: 320px) {
        top: -1200px;
        right: -200px;
        transform: none;
        scale: 0.53;
      }
      .about-pia {
        position: absolute;
        bottom: -20%;
        right: -50px;
        width: 550px;
        transition: all 500ms cubic-bezier(0.22, 1, 0.36, 1);
      }
      &:hover {
        .about-pia {
          transform: translateY(-10%);
        }
      }
    }
  }
}
