#merch_page {
  #merch-h {
    max-width: min(90%, 1100px);
    margin: 0 auto;
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    .main-h {
      text-shadow: 0px 0px 4px #243f68;
      gap: 0.3em;
      svg {
        width: 50px;
        height: 50px;
      }
    }
    .heading {
      p {
        font-size: 1.2rem;
        letter-spacing: 2px;
        font-weight: 300;
        margin-left: 1em;
      }
      .main-h {
        position: relative;
        img {
          position: absolute;
          top: 80%;
          width: 200px;
          filter: hue-rotate(40deg);
          left: -50%;
          z-index: -2;
          rotate: 30deg;
        }
      }
    }
    .other {
      display: flex;
      max-width: 70%;
      flex-direction: column;
      .code {
        background: #243f68;
        display: flex;
        justify-content: space-between;
        letter-spacing: 2px;
        padding: 0.5em;
        border-radius: 0 1em 0 1em;
        outline: 4px solid #9df39c;
        box-shadow: 0px 0px 24px 14px #9df39c50;
        font-size: 1.9rem;
        align-items: center;
        margin: 0.5em 0;
        .l {
          display: flex;
          gap: 0.25em;
          font-size: 1.4rem;
        }
        p {
          font-weight: lighter;
        }

        .r {
          .btn-copy {
            background: #9df39c;
            color: #243f68;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 0.55em;
            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .merchsites {
        display: flex;
        gap: 1em;
        .btn-primary {
          font-size: 1.4rem;
          padding-inline: 1em;
          border-bottom-width: 5px;
          border-top-width: 5px;
        }
      }
    }
  }

  #merch-list {
    background: url("/bg/pt_scraggle.png"), #243f68af;
    backdrop-filter: blur(5px);
    margin: 1em 0;
    border-top: 3px solid #9df39c;
    overflow: hidden;
    border-bottom: 3px solid #9df39c;
    .decor_merch {
      position: absolute;
      // width: 100%;
      opacity: 0.5;
      scale: 1.4;
      height: 100%;
      z-index: -2;
      &.l {
        left: 2%;
      }
      &.r {
        right: 0%;
      }
    }

    .confine {
      max-width: min(1250px, 80%);
      margin: 0 auto;
      display: flex;
      gap: 1.8em;
      margin-top: 2em;
    }

    .merch {
      // flex-direction: column/;
      width: 280px;
      margin-top: 1em;
      &:hover {
        scale: 1.05;
        .display {
          scale: 1.05;
        }
        .info {
          scale: 0.9;
        }
      }
      transition: all 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      .info {
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

        border-radius: 1em 0 0 1em;
        background: url("/bg/zigzag.png"), #9160d6;
        background-size: 15px;
        width: 100%;
        color: white;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.726);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.336);
        padding: 0.55em 1em;
        h2 {
          font-weight: 500;
        }
        p {
          font-weight: 200;
          margin-bottom: 1em;
          min-height: 60px;
        }

        .info-footer {
          display: flex;
          justify-content: space-between;
          .price {
            font-weight: 500;
            margin-bottom: 0;
            min-height: 0;
            font-size: 1.8rem;
          }
          .btn-buy {
            background: #551ba6;
            width: 50px;
            padding: 0.35em 1em;
            border-radius: 0.25em;
            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .display {
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background: #9160d6;
        outline: 5px solid #9160d6;
        margin-bottom: 0.55em;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.336);
        outline-offset: -3px;
        position: relative;
        .stars {
          position: absolute;
          display: flex;
          bottom: -3%;
          right: 10%;
          gap: 0.25em;
          .star {
            width: 20px;
            height: 20px;
          }
        }
        .ufo {
          position: absolute;
          width: 100%;
          height: 150px;
          bottom: 75%;
          object-fit: contain;
        }

        .product-img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          object-position: center;
          border-radius: 2em 0 2em 0;
        }
      }
    }
    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      margin: 2em;
      .page {
        color: white;
        font-weight: bold;
        font-size: 2rem;
      }
      .btn-primary {
        padding: 0em 0.25em;
        border-bottom-width: 6px;
        outline-width: 4px;
        border-top-width: 6px;

        &:first-of-type {
          border-radius: 1em 0 0 1em;
        }
        &:nth-of-type(2) {
          border-radius: 0 1em 1em 0;
        }
      }
    }
  }
}
